<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <app-alert [message]="error" *ngIf="error" (close)="handleError()"></app-alert>
        <!-- <div class="alert alert-danger" *ngIf="error">
            {{ error}}
        </div> -->
        <div class="d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border text-primary d-flex justify-content-center" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <form #form1="ngForm" (ngSubmit)="onSubmit(form1)" *ngIf="!loading">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" ngModel name="email" required email="" class="form-control">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" required minlength="6" name="password" ngModel class="form-control">
            </div>
            <div style="margin-top: 15px;">
                <button type="submit" [disabled]="!form1.valid" class="btn btn-primary">{{ loginAuthMode ? 'Login' : 'Sign up' }}</button>
                <button class="btn btn-primary" style="margin-left: 15px;" (click)="changeAuthMode()" type="button">Go to {{ loginAuthMode ? 'sign up' : 'login' }}</button>
            </div>
        </form>
    </div>
</div>