<div class="row">
    <div class="col-xs-12">
        <form #form1="ngForm" (ngSubmit)="onSubmit(form1)">
            <div class="row">
                <div class="col-sm-7 form-floating">
                    <input type="text" class="form-control" id="name" name="name" ngModel required placeholder="Name">
                    <label for="name">Name</label>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="email" name="email" ngModel required placeholder="Email">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top: 10 px;">
                    <button type="submit" class="btn btn-success" [disabled]="!form1.valid" style="margin-right: 10px;">{{ editMode ? 'Edit' : 'Add' }}</button>
                    <button type="button" class="btn btn-danger" style="margin-right: 10px;" *ngIf="editMode" (click)="onItemDelete()">Delete</button>
                    <button type="reset" class="btn btn-primary" style="margin-right: 10px;" (click)="onFormReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
